<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('../styles/style'); %>
    <%- include('./partials/head'); %>
    <%- include('./partials/header'); %>


      <!-- Page Content-->
      <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
    <form action="/product/add" method="post" enctype="multipart/form-data">


        product Name : <input type="text" name="p_name"><br>
        product price : <input type="number" name="p_price"><br>
        product quantity : <input type="number" name="p_quantity"><br>
        product Image : <input type="file" name="p_image"><br>
        product  altlernate Image : <input type="file" name="p_image_2"><br>
        product Description <br><textarea name="p_description" id="" cols="30" rows="10"></textarea>
        <br><input type="submit" value="save Product">

    </form>
    </div>
    </section>
    </div>

    <scr
</body>
</html>