<div class="sidebar-container">
    <div class="sidebar-logo">
      Project Name
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="/people">
          <i class="fa fa-home" aria-hidden="true"></i> User
        </a>
      </li>
      <li>
        <a href="/education">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Education
        </a>
      </li>
      <li>
        <a href="/skills">
          <i class="fa fa-users" aria-hidden="true"></i> Skills
        </a>
      </li>
      <li>
        <a href="/experiance">
          <i class="fa fa-cog" aria-hidden="true"></i> Experiance
        </a>
      </li>
      <li>
        <a href="/language">
          <i class="fa fa-cog" aria-hidden="true"></i> Language
        </a>
      </li>
     
   
    </ul>
  </div>
  